@import '../style/index.scss';

.i-separator {
  transition: all 0.5s;

  @media (prefers-color-scheme: light) {
    background: $grey-4;
  }

  @media (prefers-color-scheme: dark) {
    background: $grey-9;
  }

  &.horizontal {
    height: 1px;
  }

  &.vertical {
    width: 1px;
    height: 100%;
  }
}
