.i-search__container {
  $height: 50px;

  padding: 10px;
  height: $height;
  box-sizing: border-box;

  .i-icon-class {
    margin: 0 5px;
  }

  .i-search-item__container {
    display: flex;
    align-items: center;
    background-color: #f7f8fa;
    padding: 5px;

    .i-search__input {
      flex: 1;
    }

    .center {
      text-align: center;
    }
  }
}
