.i-tabbar__container {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 999;
  padding-bottom: env(safe-area-inset-bottom);

  &.shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }

  &.blur {
    backdrop-filter: blur(30px);
  }

  &.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
