.i-tabbar__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 999;
  padding: 15px 25px;
  padding-bottom: calc(15px + env(safe-area-inset-bottom));
  background: #fff;
  box-sizing: border-box;

  &.i-tabbar__shadow {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  }
}
