@import '../style/index.scss';

.i-card__container {
  border-radius: 4px;
  overflow: hidden;

  &.outlined {
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  @media (prefers-color-scheme: light) {
    & {
      background-color: $white;
      color: $dark;
    }
  }

  @media (prefers-color-scheme: dark) {
    & {
      background-color: $dark;
      color: $white;
    }
  }
}
