:host {
  flex: 1
}

.i-tabbar-item__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 10px 0;

  .i-tabbar-item__text {
    margin-top: 5px;
  }
}
