@import '../style/index.scss';

.t {
  transition: all 0.5s ease;
}

.calendar__container {
  border-radius: 4px;
  min-width: 350px;

  @media (prefers-color-scheme: dark) {
    background: $dark;

    .calendar__header {
      color: $grey-2;
    }

    .cur-month {
      color: $white;
    }

    .other-month {
      color: $grey-7;
    }

    .hasEvent {
      background: $grey-9;
      border-radius: 50%;
    }
  }

  @media (prefers-color-scheme: light) {
    background: $white;

    .calendar__header {
      color: $grey-9;
    }

    .cur-month {
      color: $dark;
    }

    .other-month {
      color: $grey-5;
    }

    .hasEvent {
      background: $grey-3;
      border-radius: 50%;
    }
  }

  .calendar__week {
    color: $grey-7;
  }

  .select {
    color: $white;
  }

  .now {
    color: $blue-5;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, auto);
}

.grid-row {
  grid-template-rows: repeat(auto-fill, 55px);
}

.swpier-box {
  .date__item {
    width: 50px;
    height: 50px;

    .lunar {
      font-size: 10px;
    }

    .day {
      font-size: 15px;
    }
  }

  .select {
    border-radius: 50%;
    color: $white;
    background: linear-gradient(-60deg, $blue-5, $blue-7);
    animation: bg_animation 0.5s 0s
      cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  }
}

@keyframes bg_animation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.spot__container {
  height: 53px;
  width: 6px;
  pointer-events: none;

  // 小圆点
  .spot {
    background: $red-6;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    bottom: 3px;
  }
}
