@import '../style/index.scss';

.container {
  min-height: 1.2em;
  padding: 10px;
  border-radius: 4px;
  color: $white;

  &.positive {
    background-color: $positive;
  }

  &.negative {
    background-color: $negative;
  }

  &.info {
    background-color: $info;
  }

  &.warning {
    background-color: $warning;
  }

  .i-alert__icon {
    margin: 0 0.5em;
  }

  .i-alert__message {
    flex: 1;
  }
}
