.nav_bar__margin {
  height: auto;
}

.nav-bar__occupy {
  background: transparent;
}

.nav-bar__container {
  z-index: 999;
  width: 100%;
  padding-bottom: 10px;

  &.fixed {
    position: fixed;
  }

  &.blur {
    backdrop-filter: blur(30px);
  }

  .nav-bar {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 5px 0 10px;

    .i-icon-class,
    .i-loading-class {
      margin-right: 5px;
    }
  }
}
