.i-drawer__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  transition: width 1ms, height 1ms;

  // drawer 圆角大小
  $border_radius: 5px;

  &.i-drawer__close {
    transition-delay: 600ms;

    // 关闭蒙层
    .i-drawer__mask {
      opacity: 0;
    }

    // 关闭内容
    .i-drawer__content {
      opacity: 0;
    }

    &.right > .i-drawer__content {
      transform: translateX(100%);
    }

    &.left > .i-drawer__content {
      transform: translateX(-100%);
    }

    &.right,
    &.left {
      width: 0;
    }

    &.bottom > .i-drawer__content {
      transform: translateY(100%);
    }

    &.top > .i-drawer__content {
      transform: translateY(-100%);
    }

    &.top,
    &.bottom {
      height: 0;
    }
  }

  &.i-drawer__open {
    // 打开蒙层
    .i-drawer__mask {
      opacity: 1;
    }

    // 打开内容
    .i-drawer__content {
      opacity: 1;
    }

    &.right,
    &.left {
      width: 100%;

      .i-drawer__content {
        transform: translateX(0);
      }
    }

    &.bottom,
    &.top {
      height: 100%;

      .i-drawer__content {
        transform: translateY(0);
      }
    }
  }

  &.bottom {
    bottom: 0;

    // 内容底部弹出样式
    .i-drawer__content {
      max-height: 80vh;
      border-top-left-radius: $border_radius;
      border-top-right-radius: $border_radius;
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  &.top {
    top: 0;

    // 内容顶部弹出样式
    .i-drawer__content {
      max-height: 80vh;
      border-bottom-left-radius: $border_radius;
      border-bottom-right-radius: $border_radius;
      bottom: auto;
      left: 0;
      right: 0;
      top: 0;
    }
  }

  &.right {
    right: 0;

    // 右侧弹出样式
    .i-drawer__content {
      width: 200px;
      border-top-left-radius: $border_radius;
      border-bottom-left-radius: $border_radius;
      left: auto;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &.left {
    left: 0;

    // 左侧弹出样式
    .i-drawer__content {
      width: 200px;
      border-top-right-radius: $border_radius;
      border-bottom-right-radius: $border_radius;
      right: auto;
      top: 0;
      left: 0;
      bottom: 0;
    }
  }

  // 内容共用样式
  .i-drawer__content {
    transition: transform 300ms, opacity 600ms;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
  }

  // 蒙层
  .i-drawer__mask {
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 600ms;
    position: absolute;
    height: 100%;
    width: 100%;
  }
}
