@import '../style/index.scss';

.nav-bar__occupy {
  background: transparent;
}

.nav-bar__container {
  z-index: $z-navbar;
  width: 100%;

  &.blur {
    backdrop-filter: blur(30px);

    @media (prefers-color-scheme: light) {
      & {
        background: rgba($white, 0.9);
      }
    }

    @media (prefers-color-scheme: dark) {
      & {
        background: rgba($dark, 0.9);
      }
    }
  }

  &.not-blur {
    @media (prefers-color-scheme: light) {
      & {
        background: $white;
        color: $dark;
      }
    }

    @media (prefers-color-scheme: dark) {
      & {
        background: $dark;
        color: $white;
      }
    }
  }

  .nav-bar {
    box-sizing: border-box;

    .i-icon-class,
    .i-loading-class {
      margin-right: 5px;
    }
  }
}
