@import '../style/index.scss';

.i-search__container {
  $height: 50px;

  padding: 10px;
  height: $height;
  box-sizing: border-box;

  @media (prefers-color-scheme: light) {
    background: $white;
    color: $dark;

    .i-search-item__container {
      background-color: $grey-1;
    }
  }

  @media (prefers-color-scheme: dark) {
    background: $dark;
    color: $grey-8;

    .i-search-item__container {
      background-color: $grey-10;
    }
  }

  .i-icon-class {
    margin: 0 5px;
  }

  .i-search-item__container {
    padding: 5px;

    .i-search__input {
      flex: 1;
    }
  }
}
