.i-alert__container {
  padding-bottom: 10px;

  .i-alert-item__container {
    min-height: 1.2em;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .i-alert__icon {
      margin: 0 0.5em;
    }

    .i-alert__message {
      flex: 1;
    }
  }
}
