@import 'variables.scss';

.block {
  display: block;
}

.box {
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
}

@each $space, $value in $spaces {
  @if $space ==
    'none' or
    map-get($value, 'y') ==
    map-get($value, 'x')
  {
    .i-pa-#{$space} {
      padding: map-get($value, 'y');
    }
  } @else {
    .i-pa-#{$space} {
      padding: map-get($value, 'y'), map-get($value, 'x');
    }
  }

  .i-pl-#{$space} {
    padding-left: map-get($value, 'x');
  }

  .i-pr-#{$space} {
    padding-right: map-get($value, 'x');
  }

  .i-pt-#{$space} {
    padding-top: map-get($value, 'y');
  }

  .i-pb-#{$space} {
    padding-bottom: map-get($value, 'y');
  }

  .i-px-#{$space} {
    padding-left: map-get($value, 'x');
    padding-right: map-get($value, 'x');
  }

  .i-py-#{$space} {
    padding-top: map-get($value, 'y');
    padding-bottom: map-get($value, 'y');
  }

  @if $space ==
    'none' or
    map-get($value, 'y') ==
    map-get($value, 'x')
  {
    .i-ma-#{$space} {
      margin: map-get($value, 'y');
    }
  } @else {
    .i-ma-#{$space} {
      margin: map-get($value, 'y'), map-get($value, 'x');
    }
  }

  .i-ml-#{$space} {
    margin-left: map-get($value, 'x');
  }

  .i-mr-#{$space} {
    margin-right: map-get($value, 'x');
  }

  .i-mt-#{$space} {
    margin-top: map-get($value, 'y');
  }

  .i-mb-#{$space} {
    margin-bottom: map-get($value, 'y');
  }

  .i-mx-#{$space} {
    margin-left: map-get($value, 'x');
    margin-right: map-get($value, 'x');
  }

  .i-my-#{$space} {
    margin-top: map-get($value, 'y');
    margin-bottom: map-get($value, 'y');
  }

  .i-mt-auto,
  .i-my-auto {
    margin-top: auto;
  }

  .i-ml-auto {
    margin-left: auto;
  }

  .i-mb-auto,
  .i-my-auto {
    margin-bottom: auto;
  }

  .i-mr-auto {
    margin-right: auto;
  }

  .i-mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
