@import 'components/style';

.container {
  width: 100vw;
  height: 100vh;

  @media (prefers-color-scheme: light) {
    background: $grey-2;
  }

  @media (prefers-color-scheme: dark) {
    background: $dark-page;
  }
}

.occupy-block {
  height: 60px;
}
